.register{
  margin-top: 50px;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  width: 100vw
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */

}

.app form {
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width of its container */
  max-width: 400px; /* Limit max width for larger screens */
  box-sizing: border-box;
  justify-content: center;
  margin-top: 75px !important;
}

h3 {
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

input {
  width: 100%; /* Full width of the form */
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

form button {
  width: 100%; /* Full width of the form */
  padding: 0.8rem;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  form {
    padding: 1rem;
    max-width: 90%;
  }

  h3 {
    font-size: 1.5rem;
  }

  input, button {
    font-size: 0.9rem;
  }
}

.reg {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.errorMessage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: red;
}
.eMsg{
  display: flex;
  justify-content: center;
}
.bg-body-tertiary{
  background-color: #007bff !important; 
}